@{
    ViewBag.Title = "Kanban";
}

<div class="container" style="margin-top: 30px">
    <div class="row">
        <div class="col">
            <label style="font-size: 18px">Choose project name:</label>
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-1" />
        <div class="col-10">
            <select id="project-select" style="width: 100%" class="form-control">
                @{
                    int i = 0;
                    foreach (IssuesTracker.Models.Project pr in ViewBag.projects)
                    {
                        if (i == 0)
                        {
                            <option selected value="@pr.Id">@pr.Name</option>
                        }
                        else
                        {
                            <option value="@pr.Id">@pr.Name</option>
                        }
                        i++;
                    }
                }
            </select>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-md-4">
            <label style="font-size: 18px">New</label>
        </div>
        <div class="col-md-4">
            <label style="font-size: 18px">InProgress</label>
        </div>
        <div class="col-md-4">
            <label style="font-size: 18px">Done</label>
        </div>
    </div>
    <div class="row" id="kanban-result">
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/Scripts/app/kanban.js")" type="text/javascript"></script>
}